.input-container3 input {
    width: 100%;
    padding: 12px 10px 12px 16px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

.text-underline{
    text-decoration: underline;
}